<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderCommentMapper">

    <select id="listByTag" resultType="com.sky.entity.OrderComment">
        SELECT
        oc.id,
        oc.order_id,
        oc.user_id,
        oc.taste_score,
        oc.packaging_score,
        oc.delivery_score,
        oc.tags,
        oc.content,
        oc.images,
        oc.like_count,
        oc.create_time,
        oc.parent_id,
        oc.comment_type,
        oc.reply_to_user_id
        FROM order_comment oc
        WHERE oc.parent_id IS NULL
        <if test="tag != null and tag != ''">
            AND FIND_IN_SET(#{tag}, oc.tags)
        </if>
        ORDER BY oc.create_time DESC
    </select>
    <delete id="deleteBatch">
        delete from order_comment where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
